/*
FONTE PADRÃO: MONTSERRAT
corpo, textos 
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/*
IMPORTAÇÃO DE CSS
*/
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

/*
IDENTIDADE VISUAL
CORES PADRÃO DO SITE
*/
:root{
  --bg-claro: #fff9ea;
  --bg-colorid: #eebf6a;
  --cor-identidade: #ffba3a;
  --links: #1d1d1dad;
  --btn-social: #ffffff;
  --txt-black: #1d1d1d;
  --btn-shadow: rgba(0, 0, 0, 0.1);
  --desc-gray: #434343;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  /*COR DE FUNDO GERAL*/
  background-color: #fff9ea;
  overflow-x: hidden;
}

img,
video{
  max-width: 100%;
  height: auto;
}

section {
  padding: 28px 8%;
}

/*BOTÕES: GLOBAL*/
.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /*COR DOS BOTÕES*/
  background-color: #eebf6a;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-default:hover {
  /*
    COR DO BOTÃO CLAREIA AO
     PASSAR O MOUSE
    */
  background-color: #ebc580;
}

/*
BOTÕES SOCIAL MEDIA
*/

.social-media-buttons {
  display: flex;
  gap: 18px;
}

.social-media-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #fff;
  font-size: 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  color: #1d1d1d;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  color: #ffba3a;
  font-size: 1.5rem;
}

.section-subtitle {
  font-size: 2rem;
}
